[Desktop Entry]
Encoding=UTF-8
Name=Link to zeeshanu/learn-regex: Learn regex the easy way
Type=Link
URL=https://github.com/zeeshanu/learn-regex
Icon=text-html
Name[en_US]=learn_regex
