[Desktop Entry]
Encoding=UTF-8
Name=Link to Online regex tester and debugger: PHP, PCRE, Python, Golang and JavaScript
Type=Link
URL=https://regex101.com/
Icon=text-html
Name[en_US]=regex101.com
